body {
  font-family: sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  height: 60vh;
}

.list-container {
  flex: 1;
}

ul {
  list-style: none;
}

li span:first-child {
  display: inline-block;
  min-width: 15ch;
}
